<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.Name') + ":"%></b>
  <%= @user.name %>
</p>

<p>
  <b><%= t('.Hashed_password') + ":"%></b>
  <%= @user.hashed_password %>
</p>

<p>
  <b><%= t('.Salt') + ":"%></b>
  <%= @user.salt %>
</p>


<%= link_to t('.Edit'), edit_user_path(@user) %> |
<%= link_to t('.Back'), users_path %>
