<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label t('.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('.description') %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label t('.image_url') %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label t('.price') %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= submit_tag t('.submit')%>
  </div>
<% end %>
