<h1>Results of Search: </h1>

<span style="text-align: right">
  <% form_tag "/products/search" do %>
    <%= text_field_tag :search_string %>
    <%= submit_tag "Search" %>
  <% end %>
</span>

<%if @key_words!=nil%>
	<% for word in @key_words %>
		<p><%= word %></p>
	<% end %>
<%end%>


<% if @products%>
	<% @products.each do |product| %>
		<div class="entry">
		<%= image_tag(product.image_url) %>
		
		<h3><%= product.title %></h3>
		
		<%=sanitize product.description %>
		
		
		<div class="price_line">
		<span class="price"><%= number_to_currency(product.price) %></span> 
		<%= button_to 'Add to cart', line_items_path(:product_id => product),
		:remote => true %>
		</div>
	</div>
<% end %>
<% end %>