<<<<<<< HEAD
<% if notice%>
<p id="notice"><%= notice %></p>
<%end%>
=======
<p id="notice"><%= notice %></p>

>>>>>>> 269940add41ee18df983bbf99d80889df5b06e0d
<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
