<% if notice %>
<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======
<p id = "notice"><%= notice %></p>
>>>>>>> 269940add41ee18df983bbf99d80889df5b06e0d
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
<<<<<<< HEAD
<div class="entry">
	<%= image_tag(product.image_url)%>
	<h3><%=product.title%></h3>
	<%=sanitize product.description%>
	<div class="price_line">
		<span class="price"><%=number_to_currency(product.price)%></span>
		<%= button_to 'Add to Cart',line_items_path(:product_id => product)%>
	</div>
</div>
<%end%>
=======
	<div class = "entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize product.description %>
		<div>
			<span class = "price"><%= number_to_currency(product.price) %></span>
			<%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
		</div>
	</div>
<% end %>
>>>>>>> 269940add41ee18df983bbf99d80889df5b06e0d
