<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
<!-- START_stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
<!-- END_stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<!-- END:head -->
<body>
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic BookShelf" %>
	</div>
	
	<div id="column">
		<div id="side">
			
			<% if @cart%>   
				<div id="cart">
					<%= render(@cart) %>
				</div>
			<% end %>
			
			<a href="http://www...">Home</a><br/>
			<a href="http://www.../fag">Questions</a><br/>
			<a href="http://www.../news">News</a><br/>
			<a href="http://www.../contact">Contact</a><br/>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>